body {
  background-color   : grey;
  margin             : 0;
  -webkit-user-select: none;
  cursor             : pointer;
}

#canvas {
  background-color: white; }

.table {
  display: table;
}

#table div {
  display: table-cell;
  background-color: blue;
  width: 10em;
  height: 10em;
}
